body{
    display: grid;
    color: aliceblue;
    /* grid-template-columns: 1fr;  */
    grid-auto-rows: auto 1fr;
    grid-template-areas: "header" "main_content" "footer";
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: rgb(9, 5, 22);
    /* height: 100vh; */
}
a {
    color: rgb(235, 138, 235);
  }
.topnav {
    background-color: #000000;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #c764c7;
    color: white;
  }

header{
    grid-area: header;
}

#footer{
    grid-area: footer;
}


.main{
    grid-area: main_content;
    grid-template-areas: "content" "main_map";
    display: grid;
}

#contents{
    grid-area: content;
}

#the_map{ 
    height:80vh; 
    width: 200vh;
    grid-area: main_map;
    margin:auto
}